.py-0100 {
  padding-top: 1em;
  padding-bottome: 1em; }

.px-0100 {
  padding-right: 1em;
  padding-left: 1em; }

.py-095 {
  padding-top: 0.95em;
  padding-bottome: 0.95em; }

.px-095 {
  padding-right: 0.95em;
  padding-left: 0.95em; }

.py-090 {
  padding-top: 0.9em;
  padding-bottome: 0.9em; }

.px-090 {
  padding-right: 0.9em;
  padding-left: 0.9em; }

.py-085 {
  padding-top: 0.85em;
  padding-bottome: 0.85em; }

.px-085 {
  padding-right: 0.85em;
  padding-left: 0.85em; }

.py-080 {
  padding-top: 0.8em;
  padding-bottome: 0.8em; }

.px-080 {
  padding-right: 0.8em;
  padding-left: 0.8em; }

.py-075 {
  padding-top: 0.75em;
  padding-bottome: 0.75em; }

.px-075 {
  padding-right: 0.75em;
  padding-left: 0.75em; }

.py-070 {
  padding-top: 0.7em;
  padding-bottome: 0.7em; }

.px-070 {
  padding-right: 0.7em;
  padding-left: 0.7em; }

.py-065 {
  padding-top: 0.65em;
  padding-bottome: 0.65em; }

.px-065 {
  padding-right: 0.65em;
  padding-left: 0.65em; }

.py-060 {
  padding-top: 0.6em;
  padding-bottome: 0.6em; }

.px-060 {
  padding-right: 0.6em;
  padding-left: 0.6em; }

.py-055 {
  padding-top: 0.55em;
  padding-bottome: 0.55em; }

.px-055 {
  padding-right: 0.55em;
  padding-left: 0.55em; }

.py-300 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-300 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-290 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-290 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-280 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-280 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-270 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-270 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-260 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-260 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-250 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-250 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-240 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-240 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-230 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-230 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-220 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-220 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-210 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-210 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-200 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-200 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-190 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-190 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-180 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-180 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-170 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-170 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-160 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-160 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-150 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-150 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-140 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-140 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-130 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-130 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-120 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-120 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }

.py-110 {
  padding-top: 0.5em;
  padding-bottome: 0.5em; }

.px-110 {
  padding-right: 0.5em;
    padding-right-padding-left: 0.5em; }
